/* Other rules */
:root {
   --purlple: #5c48d3;
}
* {
   font-family: "Roboto", sans-serif;
}
.container {
   width: 65%;
   margin: 0 auto;
}
header {
   height: 50px;
   align-items: center;
}
h1 {
   padding: 15px;
   font-size: 20px;
}
.logo {
   width: 90px;
   margin-top: 8px;
}
.sep {
   border-bottom: rgb(163, 163, 163) 1px solid;
}

.menu {
   color: grey;
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
}
.menu p {
   margin-right: 30px;
}

.content {
   margin: 0 auto;

   width: 50vh;
   height: 80vh;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

footer {
   align-items: center;
   text-align: center;
}
