/* Other rules */
:root {
   --purlple: #5c48d3;
}
* {
   font-family: "Roboto", sans-serif;
}
.container {
   width: 65%;
   margin: 0 auto;
   border: #5c48d3 1px solid;
}
header {
   height: 50px;
   align-items: center;
}
h1 {
   padding: 15px;
   font-size: 20px;
}
.logo {
   width: 90px;
   margin-top: 8px;
}
.sep {
   border-bottom: rgb(163, 163, 163) 1px solid;
}

.menu {
   color: grey;
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
}
.menu p {
   margin-right: 30px;
}

.content {
   margin: 0 auto;

   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: baseline;
   border: #5c48d3 1px solid;
}
.list_product {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

.products {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
}
.product {
   margin-right: 5px;
   border: #5c48d3 1px solid;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 240px;
   height: 400px;
   margin-bottom: 10px;
   background-color: #fff;
   border-radius: 3%;
}

footer {
   align-items: center;
   text-align: center;
}
