/* Other rules */
:root {
   --purlple: #5c48d3;
}
* {
   font-family: "Roboto", sans-serif;
}
.container {
   width: 65%;
   margin: 0 auto;
}

header {
   height: 50px;
   align-items: center;
}
h1 {
   padding: 15px;
   font-size: 20px;
}
.logo {
   width: 90px;
   margin-top: 8px;
}
.sep {
   border-bottom: rgb(163, 163, 163) 1px solid;
}

.menu {
   color: grey;
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
}
.menu p {
   margin-right: 30px;
}

.content {
   margin: 0 auto;

   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: baseline;
}
.list_product {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

.products {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
}
.product {
   margin-right: 5px;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 240px;
   height: 420px;
   margin-bottom: 10px;
   background-color: #fff;
   border-radius: 3%;
   text-decoration: none;
}

.product div:first-child {
   display: flex;
   align-items: center;
   color: #a5a5a5;
}
.descr1 {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   color: #a5a5a5;
   font-size: 12px;
}

.descr1 div:first-child {
   color: #000;
   font-size: 14px;
}
.avatar {
   height: 20px;
   width: 20px;
   object-fit: cover;
   border-radius: 50%;
   margin-right: 10px;
   margin-left: 5px;
}
.prodimg {
   height: 350px;
   width: 240px;
   object-fit: cover;
}

/********PRODUCT DESCRIPTIF****/
.pred_desc_fond {
   background-color: #eaedee;
}
.product_detail {
   height: 800px;
}

.pred_desc1 {
   padding-top: 50px;
   height: 560px;
   display: flex;
   justify-content: center;
}

.pred_desc1 div {
   display: flex;
}
.pred_desc1 div:first-child {
   width: 50%;
}

.img_prod_descr {
   width: 425px;
   object-fit: cover;
}
.pred_desc2 {
   width: 30%;
   height: 480px;
   background-color: #fff;
   padding: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.pred_desc3 {
   font-size: 22px;
}
.pred_desc4 {
   display: flex;
   flex-direction: row;

   height: 120px;
}
.pred_desc4 div:first-child {
   display: flex;
   flex-direction: column;
   color: #828383;
}
.pred_desc4 div:first-child p {
   margin-bottom: 10px;
}

.pred_desc4 div:last-child {
   display: flex;
   flex-direction: column;
   color: #292929;
   font-weight: bold;
}
.pred_desc4 div:last-child p {
   margin-bottom: 1.7px;
}

.pred_desc5 {
   align-items: center;
}
.pred_descAvatar {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   font-size: 18px;
}
.avatar1 {
   height: 60px;
   width: 60px;
}

.pred_desc2 button {
   width: 100%;
   height: 40px;
   color: #fff;
   background-color: #29b0ba;
   border: 0px;
   border-radius: 10px;
}
footer {
   padding-top: 20px;
   align-items: center;
   text-align: center;
}
